hash_limit = 2000  # Max number of hashes to keep in memory for deduplication
inactivity_threshold = 60 * 5  # 5 minutes inactivity threshold
channel_id = 1234567890  # Replace with your Discord channel ID
token = "your_token_here"  # Replace with your Discord bot token

kill_and_loss = {
    "78414": "Shapash",
    "ship_id": "ship_name",
}
# Titans and Supercaps and Lancer Dreads
only_loss = {
    "11567": "Avatar",
    "ship_id": "ship_name",
}
